
.wd-cont{
  background-color: red;
  width:400px;
  height: 100px;
  line-height: 100px;
}
.wExInf-cont{
  background-color: green;
  width: 60%;
  display: inline-block;
}
.wt-cont{
  background-color: blue;
  color: white;
  width: 40%;
  display: inline-block;
}
